# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Anaconda / Conda
.conda/
conda-meta/
*.egg-info/
dist/
build/

# VS Code
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/